h1 {
  position: fixed;
  top: 5px;
  left: 40%;
  font-size: 200%;
  color: #000;
}
body {
  position: fixed;
  left: 42%;
  top: 20%;
  text-align: center;
  font-size: 150%;
}
a:hover {
  color: #4D4D4D;
}
